
<!-- <div class="container d-flex justify-content-center align-items-center text-center full-height">
            <div class="card" style="width: 18rem;">
              <img src="../assets/organizations.png" class="card-img-top" alt="Placeholder image">
              <div class="card-body">
                <h5 class="card-title">Welcome to Our Organization</h5>
                <p class="card-text">Schedule for Clients, Meetings, and More!</p>
                <a routerLink="/actors" class="btn btn-primary">How It Works</a>
              </div>
            </div> -->

           <!-- <div class="container d-flex justify-content-center align-items-center text-center full-height">
                <div class="card" style="width: 18rem;">
                <img src="../assets/images/background_img.jpg class="card-img-top" alt="Placeholder image">
                  <div class="card-body">
                    <h5 class="card-title">Welcome to Our Organization</h5>
                    <p class="card-text">Schedule for Clients, Meetings, and More!</p>
                    <a routerLink="/actors" class="btn btn-outline-primary">How It Works</a>
                  </div>
                </div> -->

                <div class="container-fluid full-height">
                  <div class="card" style="width: 18rem;">
                      <img src="assets/images/background_img.jpg" class="card-img-top" alt="Angel Image">
                      <div class="card-body">
                          <h5 class="card-title">Welcome to Our Organization</h5>
                          <p class="card-text">Schedule for Clients, Meetings, and More!</p>
                          <a routerLink="/actors" class="btn btn-secondary">How It Works</a>
                      </div>
                  </div>
              </div>